        /*SOMMAIRE

        MENU
        ACCUEIL
        FOOTER*/

$rouge-fonce: #E00000;
$rouge-clair: #FE5858;
$rose: #FFD6D6;
$noir: #000;
$bleu-fonce: #313144;
$gris-fonce: #C4C4C4;
$gris-medium: #D8D8D8;
$gris-clair: #E5E5E5;

@media screen and (max-width:768px) {

    /** MENU **/
#site-navigation {
    padding: 10px 2rem;
}
}

@media screen and (max-width:500px) {

    /** MENU MOBILE **/
#primary-menu {
    display: none!important;
}
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        left: 20%;
      }
      
      .menu-btn .bar {
        width: 30px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%);
        background-color: #000;
        transition: all 0.3s ease-in-out;
      }
      
      .menu-btn .bar:nth-of-type(2) {
        top: calc(50% - 9px);
      }
      .menu-btn .bar:nth-of-type(3) {
        top: calc(50% + 9px);
      }
      
      .menu-btn.active .bar:nth-of-type(1) {
        display: none;
      }
      .menu-btn.active .bar:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
      }
      .menu-btn.active .bar:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
      .mobile-menu.active {
        position: fixed;
        transform: translateX(0);
        z-index: 100;
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $rouge-fonce;
      }
     
}