//         /*SOMMAIRE

//         MENU
//         ACCUEIL
//         FOOTER*/

$rouge-fonce: #E00000;
$rouge-clair: #FE5858;
$rose: #FFD6D6;
$noir: #000;
$bleu-fonce: #313144;
$gris-fonce: #C4C4C4;
$gris-medium: #D8D8D8;
$gris-clair: #E5E5E5;

@media (min-width:768px) {
  .burger-icon,
  .close-icon {
    display: none;
  }
}

@media (max-width:768px) {

    /** MENU **/
.nav {
    padding: 10px 2rem;
  }
}


@media (max-width: 480px) {
  .nav {
    padding: 1rem;
  }

/* Style burger menu version mobile */
.nav #primary-menu {
  gap: 2rem;
  padding: 0
}

.nav-list {
  flex-direction: column;
  background-color: $rouge-fonce;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-list li a {
  text-decoration: none;
  color: #fff;
}
/* Afficher le bouton hamburger en version mobile */
.nav .burger-icon {
  display: block;
}
/* Cacher le bouton croix en version mobile */
.close-icon {
  display: none;
}
/* Afficher le menu hamburger en version mobile lorsqu'il est ouvert */
.nav-list.open {
  left: 100%!important;
  padding: 0;
}
}