@media (max-width: 1024px) {
  /** popup **/
  .modal-content {
    margin: 45% auto;
    height: 50vh;
  }
}
@media (min-width: 768px) {
  .burger-icon,
  .close-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  /** popup **/
  .modal-content {
    width: 80%;
  }
  /** MENU **/
  .nav {
    padding: 10px 2rem;
  }
}
@media (max-width: 480px) {
  /** popup **/
  #wpforms-56 {
    margin: 3rem;
  }
  .modal-content {
    height: 45vh;
  }
  /** MENU **/
  .nav {
    padding: 1rem;
    position: fixed;
    z-index: 10;
  }
  /* Style burger menu version mobile */
  .nav #primary-menu {
    gap: 2rem;
    padding: 0;
  }
  .nav-list {
    flex-direction: column;
    background-color: #E00000;
    position: fixed;
    top: 14px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    font-size: 44px;
  }
  .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-list li a {
    text-decoration: none;
    color: #fff;
  }
  /* Afficher le bouton hamburger en version mobile */
  .nav .burger-icon {
    display: block;
  }
  /* Cacher le bouton croix en version mobile */
  .close-icon {
    display: none;
  }
  /* Afficher le menu hamburger en version mobile lorsqu'il est ouvert */
  .nav-list.open {
    left: 100% !important;
    padding: 0;
  }
}