/*** SOMMAIRE

       GENERAL
        MENU
        ACCUEIL
        FOOTER

***/
/** GENERAL **/
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Regular_1.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url(./font/poppins/Poppins-Light_1.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 400;
}

h3, .menu {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #fff !important;
  color: #000;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  font-weight: 700;
}

/** MENU **/
.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 7rem;
}

.nav .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav .nav-header .nav-logo img {
  width: 216px;
}
.nav #primary-menu {
  display: flex !important;
  gap: 2rem !important;
}
.nav .nav-list li {
  list-style: none !important;
}
.nav #nav-check {
  display: none;
}

/** ACCUEIL **/
/** FOOTER **/
#footer {
  border-top: 1px solid #000;
}
#footer .foot-widgets {
  display: none;
}
#footer .foot-text {
  text-transform: uppercase;
  font-family: "SpaceMono", sans-serif;
}
#footer .foot-text .link-vp {
  margin: 0 50px;
}