/*** SOMMAIRE

       GENERAL
        MENU
        POPUP
        ACCUEIL
        SINGLE
        FOOTER

***/
/** GENERAL **/
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Regular_1.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url(./font/spacemono/SpaceMono-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url(./font/poppins/Poppins-Light_1.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
h1 {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 400;
}

h2 {
  font-family: "SpaceMono";
  font-style: italic;
  font-weight: 400;
}

h3,
.menu,
.h3,
button {
  font-family: "SpaceMono";
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-color: #fff !important;
  color: #000;
  max-width: 100% !important;
  margin: 0 auto !important;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  font-weight: 700;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.solid {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

/** MENU **/
.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 7rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1411764706);
}

.nav {
  /*cacher les icons du menu mobile*/
}
.nav .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav .nav-header .nav-logo img {
  width: 216px;
}
.nav #primary-menu {
  display: flex !important;
  gap: 4rem;
}
.nav .nav-list li {
  list-style: none !important;
}
.nav .burger-icon,
.nav .close-icon {
  display: none;
}

/* POPUP */
.btn-contact {
  background-color: #D8D8D8;
  border: none;
  border-radius: 2px;
  right: 20px;
  top: 26px;
}

.btn-contact:hover {
  font-weight: bold;
  background-color: #000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 15px 0 0 0;
  border: 5px solid #000;
  width: 50%;
  height: 107vh;
  z-index: 10;
}

.close {
  display: none;
}

.titre-contact {
  width: 100%;
}

#wpforms-56 {
  margin: 3rem 10rem;
}
#wpforms-56 #wpforms-error-noscript {
  display: none;
}
#wpforms-56 .wpforms-field-label {
  line-height: 2.5em;
}
#wpforms-56 .wpforms-field-medium {
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  background: transparent;
}
#wpforms-56 .wpforms-field-container {
  margin-bottom: 30px;
}
#wpforms-56 .wpforms-field {
  margin-bottom: 20px;
}
#wpforms-56 #wpforms-submit-56 {
  width: 100%;
}

/** ACCUEIL **/
/** SINGLE **/
.detail-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 30px 8rem 0;
}

.detail-left {
  width: 50%;
}

.detail-left h1 {
  font-size: 66px;
  line-height: 1em;
  padding-right: 24%;
  font-weight: 400;
}

.contact-container {
  padding-top: 20px;
}

#myBtn {
  padding: 8px 30px;
  border: none;
  width: 270px;
  height: 50px;
  margin-left: 80px;
  border-radius: 2px;
  background-color: #D8D8D8;
}

#myBtn:hover {
  font-weight: bold;
  background-color: #000;
  color: #fff;
}

.site__navigation__prev .wp-post-image,
.site__navigation__next .wp-post-image {
  width: 77px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.site__navigation__prev:hover img,
.site__navigation__next:hover img {
  opacity: 1;
}

/** FOOTER **/
#footer {
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  color: #000;
}

.menu-menu-footer-container {
  margin-right: 100px;
}

#footer-menu {
  display: flex;
  gap: 100px;
  list-style: none;
}

.menu {
  text-transform: uppercase;
  font-family: "SpaceMono", sans-serif;
}