         /*** SOMMAIRE

        GENERAL
         MENU
         POPUP
         ACCUEIL
         FOOTER
        
 ***/

 /** GENERAL **/

$rouge-fonce: #E00000;
$rouge-clair: #FE5858;
$rose: #FFD6D6;
$noir: #000;
$bleu-fonce: #313144;
$gris-fonce: #C4C4C4;
$gris-medium: #D8D8D8;
$gris-clair: #E5E5E5;

$fontSpaceMono: 'SpaceMono';
$fontPoppins: 'Poppins';

// Déclaration des font
@font-face {
    font-family: $fontSpaceMono;
    src: url(./font/spacemono/SpaceMono-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: $fontSpaceMono;
    src: url(./font/spacemono/SpaceMono-Regular_1.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $fontSpaceMono;
    src: url(./font/spacemono/SpaceMono-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $fontSpaceMono;
    src: url(./font/spacemono/SpaceMono-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: $fontPoppins;
    src: url(./font/poppins/Poppins-Light_1.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: $fontSpaceMono;
    font-style: italic;
    font-weight: 700;
}

h2 {
    font-family: $fontSpaceMono;
    font-style: italic;
    font-weight: 400;
}

h3, .menu {
    font-family: $fontSpaceMono;
    font-style: normal;
    font-weight: 400;
}

p {
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 300;
}
 

* {
    box-sizing: border-box;
    text-decoration: none!important;
  }

  body {
    background-color: #fff!important;
    color: $noir;
    max-width: 100%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: $noir;
        &:hover {
        font-weight: 700;
    }
  }

  /** MENU **/ 
  
  .nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 7rem;
  }
  .nav {
   .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
    .nav-header {
        .nav-logo img {
            width: 216px;
        }
    }
   #primary-menu {
    display: flex!important;
    gap: 4rem;
  }
    .nav-list {
        li {
            list-style: none!important;
        }
    }

  /*cacher les icons du menu mobile*/
  .burger-icon,
  .close-icon {
    display: none;
  }
}



/* POPUP */

#myBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 40px;
  }
  #myBtn:hover {
    font-weight: bold;
  }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px 80px;
    border: 5px solid #000;
    width: 50%;
}

.close {
    display: none;
}

/** ACCUEIL **/

/** FOOTER **/
#footer {
    border-top: 1px solid #000;
    display: flex;
    justify-content: center;
    color: $noir;
}
    .menu-menu-footer-container {
        margin-right: 100px;
    }
    #footer-menu {
        display: flex;
        gap: 100px;
        list-style: none;
    }
    .menu {
        text-transform: uppercase;
        font-family: 'SpaceMono', sans-serif;
    }